name: ci

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Setup pip cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: pip-3.10-${{ hashFiles('package.json') }}
          restore-keys: |
            pip-3.10-
            pip-

      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools codecov
          npm install -g codecov
      - name: Test the extension
        run: |
          python -m pip install --upgrade -v -e ".[test, examples, docs]"
          yarn run lint:check

          pytest
          yarn run test

      - name: Check docs can be build + links
        run: |
          sudo apt install -y pandoc
          pushd docs
          make html
          python -m pytest --check-links
          popd
